.container {
  display: flex;
}
body{
  background-color: #344D67;
}
*{
  font-family: 'Roboto', sans-serif;
  color: white;
}
.grid-user {
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #6ECCAF;
  margin: 20px;
}
.playerp1{
  margin: 5%;
}
.playerp2{
  margin: 5%;
}
.grid div {
  width: 40px;
  height: 40px;
}

.cuadros{
  border:1px solid black;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grid-computer {
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #F3EFE0;
  margin: 20px;
}

.grid-display {
  padding: 2%;
  border-radius: 15px;
  width: 400px;
  height: 400px;
  margin: 20px;
  background-color: #22A39F;
}

.destroyer-container {
  width: 80px;
  height: 40px;
  border-radius: 15px;
  background-color: #404258;
  margin: 10px;
  display: flex;
}
.destroyer-container-vertical {
  width: 40px;
  height: 80px;
  border-radius: 15px;
  background-color: #404258;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.submarine-container {
  width: 120px;
  height: 40px;
  border-radius: 15px;
  background-color: #474E68;
  margin: 10px;
  display: flex;
}

.submarine-container-vertical {
  width: 40px;
  height: 120px;
  border-radius: 15px;
  background-color: #474E68;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.cruiser-container {
  width: 120px;
  height: 40px;
  border-radius: 15px;
  background-color: purple;
  margin: 10px;
  display: flex;
}

.cruiser-container-vertical {
  width: 40px;
  height: 120px;
  border-radius: 15px;
  background-color: purple;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.battleship-container {
  width: 160px;
  height: 40px;
  border-radius: 15px;
  background-color: #6B728E;
  margin: 10px;
  display: flex;
}

.battleship-container-vertical {
  width: 40px;
  height: 160px;
  border-radius: 15px;
  background-color: #6B728E;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}


.carrier-container {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  background-color: #50577A;
  margin: 10px;
  display: flex;
}

.carrier-container-vertical {
  width: 40px;
  height: 200px;
  border-radius: 15px;
  background-color: #50577A;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}


.ship div {
  width: 40px;
  height: 40px;
}

.destroyer {
  background-color: orange;
}

.submarine {
  background-color: pink;
}

.cruiser {
  background-color: purple;
}

.battleship {
  background-color: aqua;
}

.carrier {
  background-color: green;
}

.boom {
  background-color: red;
}

.miss {
   background-color: black;
}
button{
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: black !important;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 5%;
  margin-right: 5%;

  
  
}


.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
.connected, .ready {
  font-weight: normal;
}

.connected span,
.ready span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-left: 5px;
  background: red;
}

span.green {
  background: green;
}